@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

@media (prefers-color-scheme: dark) {
  body {
    background: $gray-900;
    color: $white;
  }

  .bg-light {
    background-color: $dark !important;
  }

  .bg-white,
  .card {
    background-color: $gray-900 !important;
  }

  .border,
  .border-bottom,
  .card {
    border-color: $gray-700 !important;
  }

  .close {
    text-shadow: $dark 0px 1px 0px;
  }

  .dropdown-menu {
    background-color: $gray-900;
    border-color: $gray-700 !important;
    color: $gray-100;
  }

  .dropdown-item {
    color: $gray-100;
  }

  .dropdown-item:hover {
    background-color: $dark !important;
    color: $gray-100;
  }

  .form-control {
    background-color: $gray-900 !important;
    border-color: $gray-600;
    color: $gray-400;
  }

  .form-control:focus {
    color: $gray-400;
  }

  .input-group-text {
    background-color: $gray-800;
    border-color: $gray-600;
    color: $gray-400;
  }

  .shadow {
    box-shadow: 0 0.5rem 1rem rgba($black, 0.5) !important;
  }
}
